* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    min-height: 100vh;
    background: url("https://images.unsplash.com/photo-1500674425229-f692875b0ab7")no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-app {
    width: 95%;
    max-width: 900px;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 20px;
}

.search-bar input {
    width: 220px;
    padding: 12px 18px;
    border-radius: 40px;
    border: none;
    background: rgba(0, 0, 0, .55);
    color: white;
    font-size: 16px;

}

.search-bar button {
    margin-left: -30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.main-card {
    margin: auto;
    width: 250px;
    background: rgba(0, 0, 0, .6);
    border-radius: 22px;
    padding: 18px 15px 18px 15px;
    color: white;
    text-align: center;
    box-shadow: 0 15px 40px rgba(0, 0, 0, .4);
}

.city {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    font-size: 18px;

}

.temprature {
    display: flex;
    justify-content: space-between;
    margin: 15px ;

}

.temp{
    display: grid;
    font-size: 40px;
    margin: 15px 0;
    justify-content: center;
    align-items: center;
    
}

.status {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.time {
    margin: 12px 0 12px;
    font-size: 14px;
    opacity: .8;
    gap: 10px;
    display: flex;
    justify-content: flex-start;
}

.stats {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: 18px;
}

.stat-card {
    background: rgba(0, 0, 0, .6);
    border-radius: 18px;
    padding: 16px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
}

.stat-card i {
    
    margin-top: 15px;
    font-size: 24px;
    opacity: .8;
    justify-content: space-between;
    
}

.stat-info {
    text-align: right;
    margin-top: 15px;
    justify-content: space-between;
}

.stat-card h5 {
    display: flex;
    font-weight: 400;
    font-size: 14px;
    opacity: .7;
    text-align: center;
    justify-content: center;
    margin-left: 60px;
    }

.stat-info p {
    font-size: 20px;
    margin-top: 3px;
}